@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(194, 194, 70);
}

.bg-yellow {
  background-color: rgb(194, 194, 70);
}

.text-yellow {
  color: rgb(194, 194, 70);
}

.container-shadow {
  box-shadow: 8px 8px;
}
